{{ partial "head.html" . }}

{{ $style := resources.Get "nav.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<h1>
  {{$.Title}}
  <small>
    Last updated
    <span class="date">{{ .Params.Lastmod.Format "Jan 02, 2006" }}</span>
    <br>
    <span class="date">{{ .Params.date.Format "Jan 02, 2006" }}</span>
    on
    <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
  </small>
</h1>

<main>
  <article>
    {{- with .Content -}}
    {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> #</a> ${3}` | safeHTML }}
			       {{- end -}}
</article>

  <nav class="toc">
    <h4> Sections </h4>
    {{ .TableOfContents }}
  </nav>
</main>

<section class="comment">
  {{ if not .Params.nocomment }}
  <p>
    Have a comment on one of my posts? Start a discussion on
    Mastodon mentioning my handle
    <a href="https://fosstodon.org/~peregrinator">@peregrinator@fosstodon.org</a> or on
    <a href="https://lists.sr.ht/~peregrinator/public_inbox">my public inbox</a>
    by sending an email to
    <a href="mailto:~peregrinator/public_inbox@lists.sr.ht">~peregrinator/public_inbox@lists.sr.ht</a>.
    Make sure to go through sourcehut <a href="https://man.sr.ht/lists.sr.ht/etiquette.md">mailing list etiquette</a>
    if you haven't already.
  </p>
  {{ end }}
</section>

{{ partial "webring-out.html" }}

{{ partial "foot.html" }}
