{{ partial "head.html" . }}

{{ $style := resources.Get "nav.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<h1>
  {{$.Title}}
  <small>
    Last updated
    <span class="date">{{ .Params.Lastmod.Format "Jan 02, 2006" }}</span>
    <br>
    <span class="date">{{ .Params.date.Format "Jan 02, 2006" }}</span>
    on
    <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
  </small>
</h1>

<main>
  <article>
    {{- partial "hanchor.html" .Content -}}
</article>

  <nav class="toc">
    <h4> Sections </h4>
    {{ .TableOfContents }}
  </nav>
</main>

{{ partial "foot.html" }}
