{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <div>
	  <time>{{ .Date | time.Format (i18n "post.created") }}</time>
          {{ if eq .Lastmod .Date }}
	  {{ else }}
          | <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
          {{ end }}
        </div>
    </header>
    {{ partial "series.html" . }}
    {{- .Content -}}
    <br>
</article>

<section class="comments">
  <h4>
    {{ if .Params.bsky }}
      Join the conversation on
      <a href="{{ .Params.bsky }}" target="_blank">Bluesky</a>
      or
      {{ end }}
      post a comment to my <a href="mailto:~peregrinator/public_inbox@lists.sr.ht?subject={{ replace (printf "Re: %s" .Page.Title) "\"" "'" }}">public inbox</a>  or peruse the comments <a href="https://lists.sr.ht/~peregrinator/public_inbox">archive</a>.
																	       </h4>
<br/>
<hr/>

</section>

{{ end }}
