{{ partial "head.html" . }}

<h1>
  {{$.Title}}
  <small>
    <span class="date">{{.Date.Format "January 2, 2006"}}</span>
    on
    <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
  </small>
</h1>

<main>
  <article>
    {{.Content}}
  </article>

  {{ if not (eq .Lastmod .Date) }}
  <br>
  <h1><small>Last edited on <span class="date">{{ .Params.Lastmod.Format "Jan 02, 2006" }}</span></small></h1>
  {{ end }}
</main>

{{ if not .Params.nocomment }}
<section class="comment">
  <p>
    Have a comment on one of my posts? Start a discussion on
    Mastodon mentioning my handle
    <a href="https://fosstodon.org/~peregrinator">@peregrinator@fosstodon.org</a> or on
    <a href="https://lists.sr.ht/~peregrinator/public_inbox">my public inbox</a>
    by sending an email to
    <a href="mailto:~peregrinator/public_inbox@lists.sr.ht">~peregrinator/public_inbox@lists.sr.ht</a>.
    Make sure to go through sourcehut <a href="https://man.sr.ht/lists.sr.ht/etiquette.md">mailing list etiquette</a>
    if you haven't already.
  </p>
</section>
{{ end }}

{{ partial "webring-out.html" }}

{{ partial "foot.html" }}
