{{ partial "head.html" . }}

<h1>
  {{$.Title}}
  <small>
    <span class="date">{{.Date.Format "January 2, 2006"}}</span>
    on
    <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
  </small>
</h1>

<main>
  <article>
    {{.Content}}
  </article>

  {{ if not (eq .Lastmod .Date) }}
  <br>
  <h1><small>Last edited on <span class="date">{{ .Params.Lastmod.Format "Jan 02, 2006" }}</span></small></h1>
  {{ end }}
</main>

{{ partial "comment.html" }}

{{ partial "webring-out.html" }}

{{ partial "foot.html" }}
