{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        <div>
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time>{{ .Date | time.Format (i18n "post.created") }}</time>
            {{ else }}
                <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}
        </div>
    </header>
    {{ partial "series.html" . }}
    {{- .Content -}}
</article>


<section>
  {{/* Openring articles */}}
  {{/* Don't load the partial if it doesn't exist */}}
  {{ if templates.Exists "partials/webring-out.html" }}
  {{ if .IsPage }}
  {{/* Only display at the bottom of articles */}}
  <div>
    {{ partial "webring-out.html" . }}
  </div>
  {{ end }}
  {{ end }}
</section>
{{ end }}
