{{ define "main" }}
<article>
    {{ partial "series.html" . }}
    {{- .Content -}}
    <br>
</article>

<section class="comments">
  <h4>
    Want to read more? Browse articles by <a href="/series">series</a> or go <a href="/">home</a>.
    Or post a comment to my <a href="mailto:~peregrinator/public_inbox@lists.sr.ht?subject={{ replace (printf "Re: %s" .Page.Title) "\"" "'" }}">public inbox</a> or peruse the comments <a href="https://lists.sr.ht/~peregrinator/public_inbox">archive</a>.
																													      </h4>
<br>
</section>

<section>
  {{/* Openring articles */}}
  {{/* Don't load the partial if it doesn't exist */}}
  {{ if templates.Exists "partials/webring-out.html" }}
  {{ if .IsPage }}
  {{/* Only display at the bottom of articles */}}
  <div>
    {{ partial "webring-out.html" . }}
  </div>
  {{ end }}
  {{ end }}
</section>

{{ end }}
