:root {
    --content-primary: #111;
    --content-secondary: #444;
    --content-link: #9f0000;
    --background: #fffff8;
    --code-background: #fffff8;
    --code-border: #111;
}

@media (prefers-color-scheme: dark) {
    :root {
	--content-primary: #ddd;
	--content-secondary: #ccc;
	--content-link: #f8b8b8;
	--background: #151515;
	--code-background: #151515;
	--code-border: #ddd;
    }
}
