@font-face {
    font-family: Monorale;
    font-weight: 100;
    font-style: normal;
    src: url('/fonts/Monorale-Thin.woff') format('woff');
}
@font-face {
    font-family: Monorale;
    font-weight: 100;
    font-style: italic;
    src: url('/fonts/Monorale-ThinItalic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/Monorale-ExtraLight.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 200;
    font-style: italic;
    src: url('/fonts/Monorale-ExtraLightItalic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Monorale-Light.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 300;
    font-style: italic;
    src: url('/fonts/Monorale-LightItalic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Monorale-Regular.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/Monorale-Italic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Monorale-Medium.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/Monorale-MediumItalic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Monorale-SemiBold.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 600;
    font-style: italic;
    src: url('/fonts/Monorale-SemiBoldItalic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Monorale-Bold.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/Monorale-BoldItalic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/Monorale-ExtraBold.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 800;
    font-style: italic;
    src: url('/fonts/Monorale-ExtraBoldItalic.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 900;
    font-style: normal;
    src: url('/fonts/Monorale-Black.woff') format('woff');

}
@font-face {
    font-family: Monorale;
    font-weight: 900;
    font-style: italic;
    src: url('/fonts/Monorale-BlackItalic.woff') format('woff');

}

@theme {
    --font-display: "Monorale", "sans-serif";
}

h1, h2, h3 {
    font-family: "Monorale", "sans-serif";
    font-weight: 600;
}

html {
    font-family: "Monorale", "sans-serif";
}

.comment {
  padding: 10px 0;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.nested-replies {
    margin-left: 20px;
    padding-left: 10px;
}
.nested-replies .comment {
    margin-bottom: 0;
}

/* floating images in text? */
.right {
    float:right;
    max-width: 400px;
    margin-left: 5px
}

.left {
    float:left;
    max-width: 200px;
    margin-right: 20px
}

/* Openring */
.webring {
  margin-top: 2rem;

  h2 {
    font-size: 1.2rem;
  }

  h4 {
      display: flex;
  }

  .articles {
    display: flex;

    @media(max-width: 640px) {
      flex-direction: column;
    }
  }

  .title {
    margin: 0;
  }

  .article {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0.5rem;

      @media(max-width: 640px) {
	  margin: 0.5rem 0;
      }
  }

  .article:first-child {
    margin-left: 0;
  }

  .article:last-child {
    margin-right: 0;
  }

  .summary {
      flex: 1%;
  }

  .attribution {
    float: right;
    line-height: 3;
  }
}
