$black: #080808;

html {
  font-family: sans-serif;
  color: $black;
}

body {
  max-width: 920px;
  margin: 0 auto;
  padding: 1rem;
}

a {
    text-decoration: none;
    color: #2200CC;
    transition: color 0.1s ease-in-out;

    &:hover {
	color: #5544FF;
	text-decoration: underline;
    }
}

h1 {
  margin-top: 0;
  font-size: 1.5rem;

  a {
      text-decoration: none;
      border: none;
      color: #77f !important;
      transition: color 0.1s ease-in-out;

      &:hover {
	  text-decoration: none;
	  color: #f77 !important;
      }
  }

  small {
      style: regular;
      display: block;
      font-size: 1rem;
      color: #555;

      .date {
	  text-transform: uppercase;
      }

      .site a {
	  text-decoration: none;
	  color: #77f !important;
	  transition: color 0.1s ease-in-out;

	  &:hover {
	      text-decoration: none;
	      color: #f77 !important;
	  }
      }
  }
}

.index {
    display: flex;
    flex-direction: row;

    .article-list {
	flex-grow: 1;

	.article {
	    margin-bottom: 1rem;
	}

	.title a {
	    transition: none;
	}

	.date {
	    display: block;
	    color: #555;
	    // text-transform: uppercase;
	}
    }

    aside {
	width: 40%;

	a, a:hover {
	    text-decoration: none
	}

	img {
	    display: block;
	    margin: 0 auto 1rem;
	    border-radius: 5px;
	}

	dt {
	    font-size: 0.9rem;
	}

	dd {
	    margin-left: 0;

	    &:not(:last-child) {
		margin-bottom: 0.5rem;
	    }
	}
    }

    @media(max-width: 640px) {
	aside {
	    display: none;
	}
    }
}

article {
    margin: 0 0;
    max-width: 620px;
    line-height: 1.3;

    img, video, iframe, figure {
	// !important for asciinema frames
	display: block !important;
	margin: 0 0 !important;
	max-width: 90%;

	@media(max-width: 640px) {
	    max-width: calc(100% - 2rem);
	}
    }

    figcaption {
	font-size: 0.9rem;
	font-style: italic;
	margin: 0 0 !important;
	max-width: 90%;
    }

    sup {
	line-height: 1;
    }

    h3 {
	font-size: 1.2rem;
    }

    h4 {
	font-size: 1.13rem;
    }

    h5 {
	font-size: 1rem;
    }

    .org-todo {
	font-size: 80%;
    }
    /* *** Org TODO set to TODO state */
    .org-todo.todo {
	color: #e60000;
    }
    /* *** Org TODO set to DONE state */
    .org-todo.DISABLED {
	color: grey;
    }

    // heading anchors
    .hanchor {
	text-decoration: none;
	visibility: hidden;
	font-size: 85%;
	color: #888;
	transition: color 0.1s ease-in-out;

	&:hover {
	    color: #5544FF;
	}
    }

    h2:hover a, h3:hover a, h4:hover a, h5:hover a {
	visibility: visible;
	color: #888;
    }
}

.comment {
    margin: 4rem auto 0;
}

.muted {
    color: #555;
    font-style: italic;
    font-size: 95%;
    width: 90%;
}

.footnotes {
    font-size: 0.9rem;
}

a.footnote-ref::before {
    content: '[';
}

a.footnote-ref::after {
    content: ']';
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: #555;

    a, a:hover {
	text-decoration: none
    }
}

.float-img {
    float: right;
    display: inline;
    padding-left: 1rem;

    @media(max-width: 640px) {
	display: block;
	float: none;
	padding-left: inherit;
    }
}

pre {
    background-color: #eee;
    margin: 0 -1rem;
    padding: 0 1rem 1rem 1rem;
    max-width: 100%;
    font-size: 90%;
    overflow-x: auto;

    .cp {
	color: #800;
    }

    .k {
	color: #008;
    }

    .kt, .kd, .kc {
	color: #44F;
    }

    .s {
	color: #484;
	font-style: italic;
    }

    .cm, .c1 {
	color: #333;
	font-style: italic;
    }

    .gi {
	color: green;
    }

    .gd {
	color: red;
    }

    .gu {
	color: blue;
    }
}

.webring {
    margin-top: 2rem;

    h2 {
	font-size: 1.2rem;
    }

    a, a:hover {
	text-decoration: none
    }

    .articles {
	display: flex;

	@media(max-width: 640px) {
	    flex-direction: column;
	}
    }

    .title {
	margin: 0;
    }

    .article {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	background: #eee;
	padding: 0.5rem;

	margin: 0 0.5rem;

	@media(max-width: 640px) {
	    margin: 0.5rem 0;
	}
    }

    .article:first-child {
	margin-left: 0;
    }

    .article:last-child {
	margin-right: 0;
    }

    .summary {
	font-size: 0.8rem;
	flex: 1 1 0;
    }

    .attribution {
	float: right;
	font-size: 0.8rem;
	color: #555;
	line-height: 3;
    }

    .date {
	color: #555;
    }
}

summary {
    cursor: pointer;
    background-color: #eee;
    padding: 0.25rem 1rem;
    margin: 0 -1rem;
}

details[open] {
    border-bottom: 1rem solid #eee;
    margin: 0 -1rem 1rem;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

blockquote {
    border-left: 5px solid #bbb;
    background-color: #eee;
    padding: 0 1rem;
    margin-left: calc(-1rem - 5px);
    margin-right: -1rem;

    blockquote {
	margin-right: 0;
	margin-left: 0;
    }
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.2rem 1rem;

    dt {
	font-weight: bold;
	grid-column-start: 1;
    }

    dd {
	grid-column-start: 2;
	margin: 0;
    }
}

.alert {
    padding: 0.5rem;
    border: 1px solid transparent;
    margin-bottom: 1rem;

    &.alert-danger {
	background: #f8d7da;
	color: #721c24;
	border-color: #f5c6cb;
    }

    &.alert-info {
	background: #d1ecf1;
	color: #0c5460;
	border-color: #bee5eb;
    }
}
