<section class="comment">
  <p class="muted">
    Have a comment on one of my posts? Drop me toot at
    <a href="https://fosstodon.org/@peregrinator">@peregrinator@fosstodon.org</a> or by starting a discussion on
    <a href="https://lists.sr.ht/~peregrinator/public_inbox">my public inbox</a>
    by sending an email to
    <a href="mailto:~peregrinator/public_inbox@lists.sr.ht">~peregrinator/public_inbox@lists.sr.ht</a>.
    Make sure to go through sourcehut <a href="https://man.sr.ht/lists.sr.ht/etiquette.md">mailing list etiquette</a>
    if you haven&#39;t already.
  </p>
</section>
