<div
  id="comments-bsky"
  data-bsky-uri="{{ .Params.bsky }}"
  class="group-dark:hover:text-primary-400 transition-colors group-hover:text-primary-600"
>
  <div id="comment-post">
    <h2 class="comment-post-header font-semibold">
      Comments via Bluesky
    </h2>

    <div class="comment-post-meta text-sm">
      <a
        class="comment-post-meta-actions text-neutral-700 transition-transform hover:-translate-x-[2px] hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400"
        href="#"
        target="_blank"
      >
        <span id="likeCount">0</span> likes |
        <span id="repostCount">0</span> reposts |
        <span id="replyCount">0</span> replies
      </a>

      <p class="block">Join the conversation on
	<a
	  id="comment-post-meta-reply"
          class="font-semibold m-1 rounded bg-neutral-300 p-1.5 text-neutral-700 hover:bg-primary-500 hover:text-neutral dark:bg-neutral-700 dark:text-neutral-300 dark:hover:bg-primary-400 dark:hover:text-neutral-800"
          href="#"
          target="_blank"
	  >Bluesky</a>;
	or, reply via
	<a class="font-semibold m-1 rounded bg-neutral-300 p-1.5 text-neutral-700 hover:bg-primary-500 hover:text-neutral dark:bg-neutral-700 dark:text-neutral-300 dark:hover:bg-primary-400 dark:hover:text-neutral-800"
	   href="mailto:{{ $.Site.Params.Author.email }}?subject={{ replace (printf "Re: %s" .Page.Title) "\"" "'" }}">email</a>
														      </p>
    </div>
  </div>

  <div id="comments-container"></div>

  <template id="comment-template">
    <div class="comment flex items-start space-x-2 m-20 my-10">
      <div class="avatar pt-2 w-[50px] h-[50px] flex-none">
        <a class="avatar-link w-full" href="" target="_blank">
          <img
            class="avatar-img rounded-full overflow-hidden w-[50px] h-[50px] object-cover"
            src=""
            alt="avatar"
          />
        </a>
      </div>

      <div class="comment-body text-sm m-20 p-10">
        <a class="author-link font-semibold text-neutral-700 transition-transform hover:-translate-x-[2px] hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400 hover:underline hover:decoration-primary-500" href="#" target="_blank">
          <span class="author-name" title=""></span>
        </a>

        <p class="comment-text text-primary"></p>

        <div class="comment-actions text-xs text-neutral-500 transition-transform hover:-translate-x-[2px] hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400">
          <a class="actions-link" href="#" target="_blank"></a>
        </div>
      </div>
    </div>
  </template>
</div>

{{ $comments := resources.Get "js/bsky-comments.js" }}
<script src="{{ $comments.RelPermalink }}"></script>
