<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Site.Params.ogImage }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="og:image:alt" content="{{ .Site.Params.ogImagealt }}" />
<meta property="fediverse:creator" name="fediverse:creator" content="@peregrinator@fosstodon.org" />

<div style="color: transparent">
  <a rel="me" href="https://fosstodon.org/@peregrinator"> </a>
  <a rel="me" href="https://hachyderm.io/@peregrinator"> </a>
  <a rel="me" href="https://mastodon.social/@peregrinator"> </a>
  <a rel="me" href="https://lemmy.ml/@peregrinator"> </a>
</div>
