<footer id="social">
    <nav>
      <ul>
        {{ range .Site.Menus.footer.ByWeight -}}
        <li>
          {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
        </li>
        {{- end }}
      </ul>
    </nav>
</footer>

<footer id="footer">
  <div class="copyright">
    {{ with .Site.Params.copyright }}
    {{ . | markdownify }}
    {{ end }}
  </div>

  <div class="subscribe">
    <p>
      <a href="/index.xml">Subscribe</a>
    </p>
  </div>

</footer>
