<footer id="footer">
    {{ if .Site.Params.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    <div class="social" align="center">
      <p>
	<a href="https://emacs.peregrinator.site">Emacs</a> |
	<a href="https://bsky.app/profile/peregrinator.site">Bluesky</a> |
	<a href="https://git.sr.ht/~peregrinator">Sourcehut</a> |
	<a href="https://github.com/brihadeesh">Github</a> |
	<a href="https://buymeacoffee.com/peregrinator">buymeacoffee</a>.
      </p>
      </div>

    <div class="copyright" align="center">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ end }}
    </div>

</footer>
