<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
        {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{/* bitter */}}
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {{/* ibm plex serif */}}
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


    {{/* Roboto Slab */}}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link rel="canonical" href="{{ .Permalink }}" />
    <title>{{ .Title }}</title>

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.Params.ogImage }}" />
    <meta property="og:description" content="blog post" />
    <meta property="og:image:alt" content="{{ .Site.Params.ogImagealt }}" />
    <meta name="fediverse:creator" content="@peregrinator@toot.cat">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ .Permalink }}">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta name="twitter:description" content="blog post">
    <meta name="twitter:image" content="{{ .Site.Params.twtImage }}">

    <div style="color: transparent">
      <a rel="me" href="https://ecoevo.social/@peregrinator"></a>
      <a rel="me" href="https://toot.cat/@peregrinator"></a>
    </div>

    <link rel="alternate"
	  type="application/rss+xml"
	  href="{{.Site.BaseURL }}/index.xml"
	  title="{{ .Site.Title }}">
</head>
