<header id="banner">

  {{/* logo or something */}}
  {{- if .Site.Params.logo }}
  <img
    src="{{ .Site.Params.logo }}"
    class="siteLogo"
    alt="{{ .Site.Params.ogImagealt }}"
    />
  {{- end }}

  {{ if or (eq .Type "about") (eq .Type "blogroll") (eq .Type "privacy") }}

  <h2>{{ .Title }}</h2>
  <div>
    on
    <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
  </div>
  <br>
  <br>


  {{ else if or .IsHome .IsSection (eq .Type "series") }}

  <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>

  {{/* secondary menu */}}
  <nav>
    <ul>
      {{ range .Site.Menus.secondary.ByWeight -}}
      <li>
        {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}" class="secondary">{{- .Name -}}</a>{{ .Post }}
      </li>
      {{- end }}
    </ul>
  </nav>

  <br>

  <nav>
    <ul>
      {{ range .Site.Menus.main.ByWeight -}}
      <li>
        {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
      </li>
      {{- end }}
    </ul>
  </nav>

  <br>
  <br>
  <br>

  {{ else }}

  <h2>{{ .Title }}</h2>
  <div>
    <time>{{ .Date | time.Format (i18n "post.created") }}</time>
    {{ if eq .Lastmod .Date }}
    {{ else }}
    | <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
    {{ end }}
    on
    <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
  </div>

  <br>
  <br>

  {{ end }}

</header>
