<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
        {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    <link rel="canonical" href="{{ .Permalink }}" />
    <title>{{ .Title }}</title>

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.Params.ogImage }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:image:alt" content="{{ .Site.Params.ogImagealt }}" />
    <meta name="fediverse:creator" content="@peregrinator@hachyderm.io">

    <div style="color: transparent">
      <a rel="me" href="https://hachyderm.io/@peregrinator"> </a>
      <a rel="me" href="https://lemmy.ml/@peregrinator"> </a>
    </div>

    <link rel="alternate"
	  type="application/rss+xml"
	  href="{{.Site.BaseURL }}/index.xml"
	  title="{{ .Site.Title }}">
</head>
