{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range where .Site.RegularPages "Section" "blog" }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      <span class="title"><a href="{{.Permalink}}">{{.Title}}</a></span>
    </div>
    {{ end }}

    <br>

    <h4>Emacs</h4>

    {{ range where .Site.RegularPages "Section" "emacs" }}
    <div class="article">
      <span class="date">{{.Lastmod.Format "January 2, 2006"}}</span>
      <span class="title"><a href="{{.Permalink}}">{{.Title}}</a></span>
    </div>
    {{ end }}

    <br>

    <h4>Fiction</h4>

    {{ range where .Site.RegularPages "Section" "fiction" }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      <span class="title"><a href="{{.Permalink}}">{{.Title}}</a></span>
    </div>
    {{ end }}

  </section>


  <aside>
    <!-- TODO: add github profile pic as avatar -->
    <img
      src="avatar.jpg"
      alt=""
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/blog/index.xml">rss</a>
      ·
      <a href="/about.html">about</a>
      ·
      <a href="/misc.html">misc</a>
    </div>

    <dl class="external-links">
      <dt>mastodon</dt>
      <dd><a href="https://fosstodon.org/@peregrinator">@peregrinator 'at' fosstodon.org</a></dd>
      <dt>email</dt>
      <dd><a href="mailto:brihadeesh.s@proton.me">brihadeesh.s@proton.me</a></dd>
      <dt>sourcehut</dt>
      <dd><a href="https://sr.ht/~peregrinator">~peregrinator</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/brihadeesh">brihadeesh</a></dd>
    </dl>

    <small>
      I'm prone to taking a while to respond but this shouldn't always
      be the case. It's usually easier to just drop me a toot on
      Mastodon. If you're sending me an email, keep in mind that I
      greatly appreciate a concise and cogent subject line.
    </small>
  </aside>
</main>

{{ partial "foot.html" }}
