<article
  class="flex flex-col items-left justify-left text-left">
  {{ partial "profile.html" }}
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>


<section>
  {{ if $.Params.groupByYear | default ($.Site.Params.list.groupByYear | default true) }}
  {{ range (.Paginate ((where .Site.RegularPages "Type" "in" .Site.MainSections).GroupByDate "2006")).PageGroups }}
  <h2 class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
    {{ .Key }}
  </h2>
  <hr class="w-36 border-dotted border-neutral-400" />
  {{ range .Pages }}
  {{ partial "article-link.html" . }}
  {{ end }}
  {{ end }}
  {{ else }}
  {{ range (.Paginate .Pages).Pages }}
  {{ partial "article-link.html" . }}
  {{ end }}
  {{ end }}
</section>
{{ partial "pagination.html" . }}
</section>
